<div class="country">
    <a class="btn" (click)="goBack()">Back</a>

    <div class="country__flag">
        <img [src]="country?.flags?.svg" [alt]="country?.name?.common + ' Flag'" />
    </div>

    <div class="country__info">
        <h2>{{ country?.name?.common }}</h2>
        <ul class="country__stats">
            <li>
                <p class="country__item">
                    Native Name:
                    <span>{{ country?.name?.common }}</span>
                </p>
            </li>
            <li>
                <p class="country__item">
                    Population:
                    <span>{{ country?.population | number }}</span>
                </p>
            </li>
            <li>
                <p class="country__item">
                    Region:
                    <span>{{ country?.region }}</span>
                </p>
            </li>
            <li>
                <p class="country__item">
                    Sub Region:
                    <span>{{ country?.subregion || 'N/A' }}</span>
                </p>
            </li>
            <li>
                <p class="country__item">
                    Capital:
                    <span>{{ country?.capital ? country?.capital?.join(', ') : 'N/A' }}</span>
                </p>
            </li>
            <li>
                <p class="country__item">
                    Top Level Domain:
                    <span>{{ country?.tld ? country?.tld?.join(', ') : 'N/A' }}</span>
                </p>
            </li>
        </ul>

        <div class="country__border">
            <h4>Border Countries:</h4>
            <div *ngIf="country?.borders?.length; else noBorders">
                <span *ngFor="let border of country?.borders" class="country__border-item">{{ border }}</span>
            </div>
            <ng-template #noBorders><span>No bordering countries</span></ng-template>
        </div>
    </div>
</div>