.btn {
  padding: 12px 20px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 4px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 90%);

  &:hover {
    background-color: hsl(0, 0%, 98%);
  }
}

.country {
}
