<div class="country">
    <div class="country__actions">
        <a class="btn" href="/home"><lucide-angular [img]="ArrowLeft" class="btn-icon"></lucide-angular>Back</a>
        <!-- <app-favorites-checkbox [country]="country" [uniqueId]="country.cca3"></app-favorites-checkbox> -->
    </div>
    <div *ngIf="isLoading" class="loader">
        Loading...
    </div>

    <div *ngIf="errorMessage && !isLoading" class="error-message">
        {{ errorMessage }}
    </div>
    <div *ngIf="!isLoading && !errorMessage" class="country__container">
        <div class="country__flag">
            <img [src]="country?.flag" [alt]="country?.name + ' Flag'" />
        </div>

        <div class="country__info">
            <h2>{{ country?.name }}</h2>
            <ul class="country__stats">
                <li>
                    <p class="country__item">
                        Native Name:
                        <span>{{ country?.official }}</span>
                    </p>
                </li>
                <li>
                    <p class="country__item">
                        Population:
                        <span>{{ country?.population | number }}</span>
                    </p>
                </li>
                <li>
                    <p class="country__item">
                        Capital:
                        <span>{{ country?.capital }}</span>
                    </p>
                </li>
                <li>
                    <p class="country__item">
                        Area:
                        <span>{{ country?.area }}</span>
                    </p>
                </li>
                <li>
                    <p class="country__item">
                        Languages:
                        <span>
                            <ng-container *ngFor="let language of country?.languages; let last = last">
                                <a ngClass="country__item-link"
                                    [routerLink]="['/country-list/',country?.cca3, language.name]">{{
                                    language.name }}</a>{{ last ? '' :
                                ', ' }}
                            </ng-container>
                        </span>
                    </p>
                </li>
                <li>
                    <p class="country__item">
                        Country Code:
                        <span>{{ country?.countryCode }}</span>
                    </p>
                </li>
            </ul>

            <h4 class="country__rank">Population rank: {{ country?.populationRank }}</h4>

            <div class="country__border">
                <h4>Border Countries:</h4>
                <div ngClass="country__border-item" *ngIf="country?.borders?.length; else noBorders">
                    <a [routerLink]="['/country', border]" ngClass="btn" *ngFor="let border of country?.borders">{{
                        border }}</a>
                </div>
                <ng-template #noBorders><span>No bordering countries</span></ng-template>
            </div>
        </div>
    </div>
</div>