<section class="country-container">
    <div class="back-button">
        <a (click)="goBack()">Back</a>
    </div>
    <div class="country-details">
        <div class="country-flag">
            <img [src]="country.flags.png" [alt]="country.name.common + ' Flag'" />
        </div>
        <div class="country-info">
            <h2>{{ country.name.common }}</h2>
            <ul class="country-stats">
                <li>
                    <p class="country-stats-item">
                        Native Name:
                        <span>{{ country.name.common }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Population:
                        <span>{{ country.population | number }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Region:
                        <span>{{ country.region }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Sub Region:
                        <span>{{ country.subregion }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Capital:
                        <span>{{ country.capital?.[0] }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Top Level Domain:
                        <span>{{ country.tld?.[0] }}</span>
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Currencies:
                        <!-- <span>{{ country.currencies }}</span> -->
                    </p>
                </li>
                <li>
                    <p class="country-stats-item">
                        Languages:
                        <!-- <span>{{ country.lan }}</span> -->
                    </p>
                </li>
            </ul>

            <div class="border-countries">
                <h4>Border Countries:</h4>
                <!-- <ul class="border-countries-list">
                    <li *ngFor="let country of country.border">
                        <a [routerLink]="['/country', country.cca3]">{{ country.name.common }}</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</section>