<header class="header">
  <div class="header__container">
    <h1 class=" header__logo">RV'S Country encyclopedia SPA</h1>
    <nav class="header__navigation">
      <a routerLink="/">Home<lucide-angular [img]="HomeIcon" class="my-icon"></lucide-angular></a>
      <a routerLink="/country">Favlist<lucide-angular [img]="Heart" class="my-icon"></lucide-angular></a>
    </nav>
  </div>
</header>
<main class="main">
  <section class="main__container">
    <router-outlet />
  </section>
</main>

<footer class="footer">
  <p>Footer</p>
</footer>